*
!*/
!*.*

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

x64/
x86/
Win32/
Debug/
Release/
*.html
*.pyd
.vs/
.vscode/
build/
.venv/

cython/*.cpp
libtorch/*
!libtorch/.gitkeep
*.pkl
*.pt
*.tar
*.bin